server {
    listen 8080;
    server_name principal.com;
    client_max_body_size 100;

    location / {
        methods GET POST;
        root ./www/main;
        index home.html;
    }

    location /put_test {
        methods PUT;
        root ./www/uploads;
    }

    location /post_body {
        methods POST;
    }
	
	location /old-page {
    	return 301 /new-page.html;
	}
}

server {
    listen 9090;
    server_name secundario.com;
    error_page 404 ./error_pages/404.html;

    location / {
        methods GET;
        root ./www/secundario;
    }

    location /example/ {
        methods GET;
        root ./www/secundario;
    }

}
