server {
    listen 8080;
    host 127.0.0.1;
    server_name webserv.local www.webserv.local;
    root ./www/html;
    index index.html;

    client_max_body_size 2;
    
    location / {
        methods GET POST DELETE;
        autoindex off;
    }

    location /old-page {
        return 301 /redir/new-page;
    }

    location /cgi {
	root ./www/cgi-bin; 
        methods GET POST;
        cgi_ext .py .sh;
        cgi_path /usr/bin/python3 /usr/bin/bash;
    }
}
